<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G0MT6LKC99"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G0MT6LKC99');
</script>

<script>    (function(d,s,i)    {        var f,j;        f=d.getElementsByTagName(s)[0];        j=d.createElement(s);        j.async=true;        j.src='https://mtag.microsoft.com/tags/'+i+'.js';        j.referrerPolicy='no-referrer-when-downgrade';        f.parentNode.insertBefore(j,f);    })    (document,'script','14362370638658');</script>