<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% if site.brand.image contains 'http' %}{{ site.brand.image }}{% else %}{{ site.uploads | absolute_url }}{{ site.brand.image }}{% endif %}"/>
    <script defer type="text/javascript" src="/assets/js/custom.js"></script>
    <script type="text/javascript" src="/assets/footer_style/scripts/jquerys.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" media="print" onload="this.media='all'">
    <link rel="shortcut icon" type="image/png" href="{{ site.uploads | relative_url }}favicon.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <script async src="{{ "/assets/js/main.min.js" | relative_url }}"></script>
    
    <link rel="stylesheet" type="text/css" href="/assets/footer_style/css/style.css">



    {% if page.applechat %}
    <script src="https://static.cdn-apple.com/businesschat/start-chat-button/2/index.js"></script>
    {% endif %}
    
    {% include schema.html %}

        {% seo %}
        <!-- Twitter cards -->
    <meta name="twitter:site"    content="@ethicalfrenchie">
    <meta name="twitter:creator" content="@{{ page.author }}">
    <meta name="twitter:title"   content="{{ page.title }}">
       
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
        
    {% if page.image %}
    <meta name="twitter:card"  content="{{ page.summary }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->
    {% include google-analytics.html %}
      </head>
  
