<head>
    {% include google-analytics.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% if site.brand.image contains 'http' %}{{ site.brand.image }}{% else %}{{ site.uploads | absolute_url }}{{ site.brand.image }}{% endif %}"/>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" media="print" onload="this.media='all'">
    <link rel="shortcut icon" type="image/png" href="{{ site.uploads | relative_url }}favicon.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <script async src="{{ "/assets/js/main.min.js" | relative_url }}"></script>
    {% if page.chicago %}
    {% elsif page.LA %}
    {% else %}
    <link rel="stylesheet" type="text/css" href="/assets/footer_style/css/style.css">
    <script defer type="text/javascript" src="/assets/js/custom.js"></script>
    <script type="text/javascript" src="/assets/footer_style/scripts/jquerys.js"></script>
    <script src="https://kit.fontawesome.com/2ee7bde2cf.js"></script>
    {% endif %}

    {% if page.applechat %}
    <script src="https://static.cdn-apple.com/businesschat/start-chat-button/2/index.js"></script>
    {% endif %}
    <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5322352.js"></script>
<!-- End of HubSpot Embed Code -->
    {% include schema.html %}

        {% seo %}
        <!-- Twitter cards -->
    <meta name="twitter:site"    content="@ethicalfrenchie">
    <meta name="twitter:creator" content="@{{ page.author }}">
    <meta name="twitter:title"   content="{{ page.title }}">
       
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% endif %}
        
    {% if page.image %}
    <meta name="twitter:card"  content="{{ page.summary }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->
    <!-- Taboola Pixel Code -->
<script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1437451});
    !function (t, f, a, x) {
           if (!document.getElementById(x)) {
              t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
           }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/unip/1437451/tfa.js',
    'tb_tfa_script');
  </script>
  <!-- End of Taboola Pixel Code -->
  
      </head>
  
