{% if page.hubspotneeded %}
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5322352.js"></script>
<!-- End of HubSpot Embed Code -->
{% endif %}

{% if page.podium %}
<script defer src="https://connect.podium.com/widget.js#API_TOKEN=fef8c887-86ac-42f1-a40d-69c1b24ac43e" id="podium-widget" data-api-token="fef8c887-86ac-42f1-a40d-69c1b24ac43e"></script>
{% endif %}

<style>
    /*---Footer Menu--*/
    .is-ios #footer-menu{
        position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:100;
        background-color:#f9f9f9;
        transition:all 250ms ease;
        height:calc(65px + (constant(safe-area-inset-bottom))*1.1);
        height:calc(65px + (env(safe-area-inset-bottom))*1.1);
        transition:all 250ms ease;
        box-shadow:0 -5px 10px 0 rgba(0,0,0,0.1)!important;
        z-index:95;
    }
    
    .is-ios.is-on-homescreen{
        height:calc(43px + (constant(safe-area-inset-bottom)))!important;
        height:calc(43px + (env(safe-area-inset-bottom)))!important;
    
    }
    
    .is-not-ios .page-content{
        padding-bottom:60px;
    }
    
    .is-ios .page-content{
        padding-bottom:calc(65px + (constant(safe-area-inset-bottom))*1.1);
        padding-bottom:calc(65px + (env(safe-area-inset-bottom))*1.1);
    }
    
    
    #footer-menu{
        position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:98;
        background-color:rgba(249, 249, 249, 0.98);
        transition:all 250ms ease;
        min-height:60px;
        transition:all 250ms ease;
        box-shadow:0 -5px 10px 0 rgba(0,0,0,0.06);
        overflow:hidden;
    }
    
    
    .is-not-ios .footer-menu-clear{height:70px; display:block;}
    .is-not-ios .footer{padding-bottom:0px;}
    .is-not-ios #footer-menu a i{padding-top:11px;}
    .is-not-ios #footer-menu a span{padding-top:35px; opacity:0.6;}
    
    #footer-menu a{
        text-decoration:none;
        color:#1f1f1f;
        float:left;
        width:20%;
        text-align:center;
        transition:all 350ms ease;
    }
    
    #footer-menu a span{
        opacity:0.6;
        font-size-adjust: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-font-smoothing: subpixel-antialiased!important;
        -webkit-transform: translate3d(1,1,1);
        transform:translate3d(1,1,1);    
        text-rendering: auto;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family:'Roboto', sans-serif;
        display:block;
        margin-top:-30px;
        text-decoration:none;
        left:0px;
        right:0px;
        font-weight:500;
        text-align:center;
        font-size:10px;
        padding-top:32px;
    }
    
    #footer-menu a i{
        padding-top:15px;
        font-size:18px;
    }
    
    
    #footer-menu a{transition:all 200ms ease!important;}
    #footer-menu i{transition:all 200ms ease!important;}
    #footer-menu span{transition:all 200ms ease!important;}
    #footer-menu .active-nav{
        color:#DA4453;
        transition:all 200ms ease!important;
    }
    .footer-menu-hidden{transform:translateY(120px)!important;}
    
</style>