<style>#footer-bar.position-relative{height:60px!important;}</style>
        
<div id="footer-bar" class="footer-bar-6 position-relative ml-3 mr-3 shadow-xl rounded-s mt-5 mb-5">
    <a href="#"><i class="fa fa-layer-group"></i><span>Features</span></a>
    <a href="#"><i class="fa fa-file"></i><span>Pages</span></a>
    <a href="#" class="circle-nav active-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
    <a href="#"><i class="fa fa-camera"></i><span>Projects</span></a>
    <a href="#"><i class="fa fa-bars"></i><span>Menu</span></a>
</div>