<style>#footer-bar.position-relative{height:60px!important;}</style>
 <div id="footer-bar" class="footer-bar-6 position-relative ml-3 mr-3 shadow-xl rounded-s mt-5 mb-5">
    <a href="https://gtly.to/c6hGy80Mm" class="footer-item-1"><i class="fa fa-home"></i><span>Home</span></a>
    <a href="/about-us/" class="footer-item-2"><i class="fa fa-info"></i><span>About</span></a>
    <a href="/puppies/" class="footer-item-3" class="circle-nav"><i class="fa fa-paw"></i><span>Puppies</span></a>
    <a href="/blog/" class="footer-item-4"><i class="fa fa-pencil-alt"></i><span>Blog</span></a>
    <a href="https://gtly.to/qojiWsl_e" class="footer-item-5"><i class="fa fa-envelope"></i><span>Contact</span></a></div>
