
<footer class="uk-section uk-section-{{ site.footer.style | default: 'muted' }} uk-text-center uk-text-muted uk-link-muted">
    <div class="uk-container uk-container-small">

        <div>
            <ul class="uk-subnav uk-flex-center">
                {% for link in site.data.[site.template].footer.center %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = '' | relative_url %}
                    {% endif %}
                    {% if link.url == page.url %}
                        {% assign current = ' class="uk-active"' %}
                    {% else %}
                        {% assign current = null %}
                    {% endif %}
                    {% if link.title %}
                        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if site.social_networks %}
          <div class="uk-margin-medium">
              <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                  {% include social-networks.html %}
              </div>
          </div>
        {% endif %}
        {% if page.southampton %}
        <div class="uk-margin-medium uk-text-small copyright">53 Hill Street #4020, Southampton NY, 11968 | Phone: <a href="tel:631 824-0300">(631) 824-0300</a></div>
        {% elsif page.chicago %}
        <div class="uk-margin-medium uk-text-small copyright">155 North Wacker Drive #FL 42, Chicago, IL 60606 | Phone: <a href="tel:773 798-0950">(773) 798-0950</a></div>
        {% elsif page.atlanta %}
        <div class="uk-margin-medium uk-text-small copyright">3333 Piedmont Rd NE #FL 20, Atlanta, GA 30305 | Phone: <a href="tel:404 400-7003">(404) 400-7003</a></div>
        {% else %}
        <div class="uk-margin-medium uk-text-small copyright">{{ site.footer.copyright }}</div>
        {% endif %}
    </div>
</footer>

